.detailsCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 75vw;
    margin-left: auto;
}
.cardDiv{
    width: 30vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #646cff;
}
.crewmateDetail {
    font-size: 1.5vw; /* Relative font size */
    margin: 0.5rem 0; /* Adjust margin as needed */
    padding: 0.5rem;
  }
  
  .crewmateDetail button {
    font-size: 1vw; /* Relative font size for button */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
  }